@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: grey;
}

#main_div {
    display: flex;
    flex-wrap: wrap;
    border: 1em grey solid;
    gap: 1em;
    justify-content: space-around;
}

#main_div > div{
    border: black solid 2px;
    border-radius: 10px;
    width: 18em;
    height: 26em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 201, 201);
    position: relative;
}

img {
    height: 10em;
    width: 15.7em;
    border: rgb(202, 201, 201) solid 10px;
    border-radius: 20px;
}

h3, h2, h4, h1, img {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

p {
    padding-bottom: 3em;
}

h1 {
    padding: 1.5em;
}

.continent{
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 7px;
    font-size: 1em;
}

p{  
    padding-bottom: 1.5em;
    padding-left: 5px;
    height: 5%;
   
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}